:root{
    --main_orange: #F6BD60;
}

/*Clases genéricas*/
.container{
    width: 90%;
    max-width: 1280px;
    margin: 0px auto;
    margin-top: 16px;
}

.grid-12columns{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 16px;
}

.btn{
    background-color: white;
    padding: 0.8em 1.2em;
    border-radius: 12px;
    color: black;
    border: 1px transparent;
    display: inline-block;
    width: max-content;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;

    cursor: pointer;
}

.btn--primary{
    background-color: var(--main_orange);
    color: white;
}

.btn--danger{
    background-color: rgb(255, 88, 88);
}

.btn--blue{
    background-color: rgb(97, 97, 255);
}
/*End clases genéricas*/

body{
    font-family: 'Montserrat', sans-serif;
}

*{
    margin: 0;
    box-sizing: border-box;
}

nav{
    height: 60px;
    background-color: var(--main_orange);

    display: flex;
    align-items: center;
    justify-content: center;
}

.nav__logo{
    max-width: 50px;
}

.nav__tohome{
    display: flex;
    text-decoration: none;
    align-items: center;
    color:black;
}

/*Estilos de la página inicial*/
.grid__title{
    text-align: center;
    grid-column: 1/-1;
    margin-bottom: 12px;
}

.table-container{
    grid-column: 1/8;
}

.form-container{
    grid-column: 8/-1;
}

/*Table*/
.orders{ 
    border-collapse: collapse;
}

.orders, .orders th, .orders td{
    border: 1px solid black;
}

.orders thead{
    background-color: var(--main_orange);
}

.orders tbody tr:nth-child(even){
    background-color: rgb(228, 228, 228);
}

/*END table*/

/*home form*/

.form__card{
    background-color: rgb(236, 236, 236);
    padding: 24px 16px;
    border-radius: 16px;
}

.form__card form{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.form__group{
    display: flex;
    flex-direction: column;
}

#comments{
    height: 60px; 
    resize: none;
}
/*END home form*/

/*Change.ejs styles*/
.form-container-alone{ /*Cuando el formulario esté solo se posiciona en el centro de la pantalla*/
    width: 40%;
    min-width: 400px;
    margin: 0px auto;
}
/*END change.ejs styles*/