:root{
    --main_orange: #F6BD60;
}

/*Clases genéricas*/
.container{
    width: 80%;
    max-width: 1200px;
    margin: 0px auto;
    margin-top: 16px;
}

.grid-12columns{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
/*End clases genéricas*/

body{
    font-family: 'Montserrat', sans-serif;
}

*{
    margin: 0;
    box-sizing: border-box;
}

nav{
    height: 60px;
    background-color: var(--main_orange);

    display: flex;
    align-items: center;
    justify-content: center;
}

.nav__logo{
    max-width: 50px;
}
