<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Pizzería order page</title>

        <link rel="shortcut icon" href="/img/pizza-logo.png" type="image/x-icon">

        <!--Custom styles-->
        <link rel="stylesheet" href="/styles/main.css" />

        <!--Google fonts-->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap" rel="stylesheet" />
    </head>
    <body>
        <!--Common navigation in all pages-->
        <nav>
            <a href="/" class="nav__tohome">
                <img src="/img/pizza-logo.png" alt="brand logo" class="nav__logo" />
                <p class="nav__text">CUTE PIZZA</p>
            </a>
        </nav>